@import '../../../../styles/variables.scss';

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  min-height: 80px;
  padding: 10px 60px;
  align-items: center;
  justify-content: space-between;

  color: $white;
  font-size: 20px;
  font-weight: 300;

  background-color: $dark-blue;
}

.developers {
  display: flex;
  gap: 30px;
}

.developer {
  color: $white;
  font-size: 20px;
  font-weight: 300;
  text-decoration: underline 1px;
  text-underline-offset: 8px;

  transition: color 0.3s ease-in;

  &:hover {
    color: $orange;
  }
}

.year {
  display: flex;
  justify-content: center;

  font-size: 20px;
}

.rss_link {
  display: flex;
  justify-content: right;

  font-size: 0;
}

.rss_logo {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 834px) {
  .footer {
    gap: 20px;
    padding: 10px 30px;
  }

  .developers {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .developer {
    font-size: 16px;
  }

  .year {
    font-size: 16px;
  }
}
