@import '../../styles/variables.scss';

.page {
  display: flex;
  height: calc(100dvh - 84px);
  padding-top: 60px;
  justify-content: center;
}

.form {
  width: 650px;
  height: 489px;
  border: 1px solid #6b99c3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 40px 0 0 0;

  font-weight: 700;
  font-size: 38px;
}

.emailInput,
.passwordInput {
  width: 484px;
  height: 45px;
  border: 1px solid #6b99c3;
  border-radius: 4px;
  padding-left: 10px;

  font-size: 18px;
}

.label {
  display: flex;
  flex-direction: column;
  height: 65px;

  font-size: 18px;
}

.inputError {
  height: 20px;
}

.signUpLink {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

.signUpText {
  margin-top: -20px;

  font-size: 18px;
}

.submit {
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
}

.inputError {
  color: $red;
}

.error {
  height: 20px;

  font-size: 18px;
  color: $red;
}
