.table {
  display: flex;
  flex-direction: row;

  .input {
    width: 100%;
    padding: 10px;
    border-color: blueviolet;

    font-size: 14px;
    color: black;

    background-color: lightgray;
  }
}
