@import '../../../styles/variables.scss';

.request_control {
  display: grid;
  grid-template-columns: 15% 1fr 15%;

  .method_selector,
  .endpoint_input,
  .button {
    width: 100%;
    padding: 10px;
    border: 1px solid $blue;
    border-right: transparent;
    outline: none;

    font-size: 20px;
    color: $dark-blue;

    background-color: $white;

    cursor: pointer;
    option[value=''][disabled] {
      display: none;
    }
    &:focus {
      border: 1px solid $dark-blue;
    }

    &:disabled {
      border-color: gray;

      color: gray;
    }

    &::placeholder {
      color: $blue;
    }
  }

  .method_selector {
    border-radius: 4px 0 0 4px;
  }

  .button {
    background-color: $blue;
    color: $white;

    &:disabled {
      background-color: $gray;
      border: 1px solid $blue;
      border-radius: 0 4px 4px 0;
      color: $dark-gray;
    }
  }
}

