NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCaoZuAmp4DsYfsWMP0RqYT-7j8a2gW_DA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=qraphiql-app-c32df.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=qraphiql-app-c32df
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=qraphiql-app-c32df.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=866539679783
NEXT_PUBLIC_FIREBASE_APP_ID=1:866539679783:web:065321fa59f02d8de3de02