@import '../../../../../styles/variables.scss';

.docs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-width: 320px;
  max-height: 655px;
  border: 1px solid $blue;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;

  @media screen and (max-width: 900px) {
    width: 100%;
    height: 500px;
    max-height: 300px;
  }

  .docs_title {
    color: $dark-gray;
  }

  .docs_heading {
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray;

    color: $dark-gray;
  }

  .docs_fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $dark-blue;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;

      background-color: #f9f9fd;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;

      background-color: $blue;
    }

    &::-webkit-scrollbar-track {
      border-radius: 4px;

      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
      background-color: $white;
    }
  }
}

.name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: bold;
  color: $blue;
}

.description {
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}

.subName {
  margin-left: 20px;

  font-weight: 500;
}

.subDescription {
  margin-left: 20px;
  margin-bottom: 10px;
}

.type {
  color: $blue;
  font-weight: normal;
}
