@import './../../styles/variables.scss';

.td {
  border: 1px solid $blue;
  height: 35px;
  color: $dark-blue;
}

.td.td_title {
  font-weight: 700;
}

.td.td_1 {
  width: 35px;
  padding-left: 6px;
}

.td.td_2 {
  width: 300px;
  padding-left: 5px;
}

.td.td_3 {
  padding-left: 5px;
}
