@use 'normalize';

.body {
  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;

    .body-content {
      flex: 1 1 auto;
    }
  }

  & * {
    box-sizing: border-box;
  }
}

.ͼ1.cm-focused {
  outline: none;
}
