/* colors */
$white: #ffffff;
$dark-blue: #16354d;
$blue: #6b99c3;
$light-blue: #9bcfff;
$orange: #ffb749;
$red: #ff5f5f;
$gray: #e4e5ea;
$dark-gray: #afafaf;
$pink: #ffcccc;
$light-yellow: #fffaaf;
$light-green: #bff8d0;
$dark-green: #015e01;
