@import './../../../styles/variables.scss';

.switcher {
  display: flex;
  gap: 5px;
}

.button {
  background-color: $white;
  color: $blue;
  font-size: 20px;
}

.selected {
  color: $dark-blue;
}

.editor {
  width: 100%;
  border: 1px solid $blue;
  font-size: 20px;
  border-radius: 4px;

  // background-color: lightgray;
}
