@import './../../../styles/variables.scss';

.switcher {
  display: flex;
  gap: 5px;
}

.button {
  background-color: $white;
  color: $blue;
  font-size: 20px;
  &:not(:disabled):hover {
    color: $dark-blue;
    background-color: $white;
  }
}

.selected {
  color: $dark-blue;
}

.editor {
  width: 100%;
  border: 1px solid $blue;
  font-size: 20px;
}
