@import '../../../../styles/variables.scss';

.wrapper {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $blue;
  border-radius: 8px;

  font-size: 22px;

  transition: all 0.3s ease-in;

  @media screen and (max-width: 834px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (max-width: 425px) {
    padding-left: 20px;
    padding-right: 20px;

    font-size: 18px;
  }

  .title {
    margin: 0;

    font-size: 38px;
    color: $dark-blue;
    line-height: 38px;

    transition: all 0.3s ease-in;

    @media screen and (max-width: 425px) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  .description {
    margin: 0;
    margin-top: 30px;

    line-height: 38px;
    text-align: justify;
    hyphens: auto;

    transition: all 0.3s ease-in;

    @media screen and (max-width: 425px) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .cards {
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    transition: all 0.3s ease-in;

    @media screen and (max-width: 834px) {
      align-items: center;
      flex-direction: column;
      gap: 50px;
    }

    .card {
      max-width: 342px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $blue;

      line-height: 22px;
      text-align: center;
      color: $dark-blue;

      box-shadow: 4px 4px 8px $gray;

      .photo {
        max-width: 100%;
        height: auto;
      }

      .name {
        margin: 0;
        margin-top: 20px;

        font-weight: bold;
      }

      .roles {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .role {
          margin: 0;
        }
      }
    }
  }
}
