@import './../../styles/variables.scss';

.burger_wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: $dark-blue;
  overflow: hidden;
  padding: 120px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.nav_link {
  display: flex;
  justify-content: center;
  gap: 10px;

  color: $white;
  font-size: 22px;
  text-decoration: none;

  transition: all 0.3s ease-in;

  .home_icon {
    transition: all 0.3s ease-in;
  }

  &:hover {
    color: $orange;

    & .home_icon {
      fill: $orange;
    }
  }
}

.auth_wrapper {
  display: flex;
  gap: 30px;
}

.signin_button,
.signup_button {
  display: flex;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-size: 18px;
  color: $white;
  text-decoration: none;

  background-color: $blue;

  transition: all 0.3s ease-in;

  & .signin_icon,
  & .signup_icon {
    transition: all 0.3s ease-in;
  }

  &:hover {
    color: $dark-blue;

    background-color: $light-blue;

    & .signin_icon,
    & .signup_icon {
      fill: $dark-blue;
    }
  }

  &:active {
    color: $dark-blue;

    background-color: $gray;

    & .signin_icon,
    & .signup_icon {
      fill: $dark-blue;
    }
  }
}

.lang_wrapper {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.lang_line {
  width: 1px;
  height: 40px;

  background-color: $white;
}

.lang {
  border: none;

  font-weight: 700;
  font-size: 22px;
  color: $blue;

  background-color: transparent;

  cursor: pointer;

  &.active {
    color: $white;

    pointer-events: none;
    cursor: default;
  }
}

