@import '../../styles/variables.scss';

.button {
  height: auto;

  font-size: 16px;

  transition: all 0.3s ease-in;

  &.active {
    &:hover {
      cursor: default;
    }
  }

  &:focus-visible {
    outline: none;
  }
}

.wrapper {
  .response_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .response_tabs {
      padding: 1px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;

      .button {
        padding: 2px;
        border-radius: 0;

        color: $blue;

        background-color: transparent;

        &.active {
          color: $dark-blue;
        }

        &:hover:not(.active) {
          color: $orange;
        }

        &:focus-visible {
          border-bottom: 1px solid $dark-blue;
        }

        &:active,
        &:not(:disabled):active {
          color: $gray;
        }
      }
    }

    .response_status_wrapper {
      padding: 5px 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      box-sizing: border-box;
      flex: 1 0 auto;

      font-size: 16px;
      color: $dark-blue;

      @media screen and (max-width: 425px) {
        font-size: 14px;
      }

      .response_status {
        padding: 3px 9px;
        border-radius: 4px;

        &.red {
          background-color: $pink;
        }

        &.green {
          color: $dark-green;

          background-color: $light-green;
        }

        &.yellow {
          background-color: $light-yellow;
        }

        &.gray {
          background-color: $gray;
        }
      }
    }
  }

  .output_container {
    height: 320px;
    padding: 2px;

    border: 1px solid $blue;
    border-radius: 4px;

    .response_body_tab {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1px;

      &:has(.image_container) {
        padding: 0;
        border: none;
        border-radius: none;
      }

      .response_body_control {
        padding: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;

        cursor: default;

        .button {
          padding: 2px 8px;
          border: 1px solid transparent;

          color: $dark-blue;

          background-color: $gray;

          &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }

          &.active {
            color: $white;

            background-color: $blue;
          }

          &:focus-visible {
            border: 1px solid $dark-blue;
          }

          &:hover:not(.active) {
            background-color: $light-blue;
          }

          &:active,
          &:not(:disabled):active {
            background-color: $gray;
          }
        }
      }

      .response_body_editor {
        height: 100%;
      }

      .response_body_raw {
        width: 100%;
        height: 100%;
        padding: 5px 5px 5px 25px;

        font-size: 16px;
        color: $dark-blue;
        border-color: transparent;

        background-color: transparent;
        outline: none;
        resize: none;
      }

      .image_container {
        width: 100%;
        height: 100%;

        overflow: auto;
      }
    }

    .response_headers_tab {
      height: 100%;
    }
  }
}
