@import '../../../styles/variables.scss';

.client {
  padding: 60px;

  transition: all 0.3s ease-in;

  @media screen and (max-width: 425px) {
    padding: 20px;
  }

  .container {
    margin: 0 auto;
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 425px) {
      gap: 20px;
    }
  }
}
