@import '../../../styles/variables.scss';

.table {
  display: flex;
  flex-direction: row;

  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid $blue;

    font-size: 14px;
    color: black;

    background-color: lightgray;
  }
}
